<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Sleek Dashboard - Free Bootstrap 4 Admin Dashboard Template and UI Kit. It is very powerful bootstrap admin dashboard, which allows you to build products like admin panels, content management systems and CRMs etc.">


  <title>Tag&Go - Administrator dashboard</title>

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet" />
  <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />


  <!-- PLUGINS CSS STYLE -->
  <link href="assets/plugins/nprogress/nprogress.css" rel="stylesheet" />



  <!-- No Extra plugin used -->



  <link href="assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />



  <link href="assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />



  <link href="assets/plugins/toastr/toastr.min.css" rel="stylesheet" />



  <!-- SLEEK CSS -->
  <link id="sleek-css" rel="stylesheet" href="assets/css/sleek.css" />

  <!-- FAVICON -->
  <link href="assets/img/Logo.png" rel="shortcut icon" />



  <!--
    HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="assets/plugins/nprogress/nprogress.js"></script>
</head>


<body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">

  <script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
  </script>


  <div id="toaster"></div>




            <!--
          ====================================
          ——— LEFT SIDEBAR WITH FOOTER
          =====================================
        -->
        <aside class="left-sidebar bg-sidebar">
          <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            <div class="app-brand">
              <a href="/" title="Sleek Dashboard">
                 <img src="assets/img/Logo.png" width=30 height=33>
                 <span class="brand-name text-truncate">Tag&Go</span>
              </a>
            </div>
            <!-- begin sidebar scrollbar -->
            <div class="sidebar-scrollbar">

              <!-- sidebar menu -->
              <ul class="nav sidebar-inner" id="sidebar-menu">




                <li  class="active" >
                    <a class="sidenav-item-link" href="statistics.html">
                      <i class="mdi mdi-chart-line"></i>
                      <span class="nav-text">Sale Statistics</span></b>
                    </a>
                </li>

                <li>
                    <a class="sidenav-item-link" href="statistics.html">
                      <i class="mdi mdi-file-cabinet"></i>
                      <span class="nav-text">Inventory</span></b>
                    </a>
                </li>

                <li>
                  <a class="sidenav-item-link" href="http://127.0.0.1/users?username=BusinessUser1&email=Test">
                    <i class="mdi mdi-account"></i>
                    <span class="nav-text">Users</span></b>
                  </a>
                </li>

                <li>
                  <a class="sidenav-item-link" href="http://127.0.0.1/security?username=BusinessUser1&email=Test">
                    <i class="mdi mdi-security"></i>
                    <span class="nav-text">Security Logs</span></b>
                  </a>
                </li>

                <li>
                  <a class="sidenav-item-link" href="http://127.0.0.1/tickets?username=BusinessUser1&email=Test">
                    <i class="mdi mdi-clipboard-text"></i>
                    <span class="nav-text">Tickets</span></b>
                  </a>
                </li>

            </ul>

            </div>
          </div>
        </aside>


    <div class="page-wrapper">
                <!-- Header -->
          <header class="main-header " id="header">
            <nav class="navbar navbar-static-top navbar-expand-lg">
              <!-- Sidebar toggle button -->
              <button id="sidebar-toggler" class="sidebar-toggle">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <!-- search form -->
              <div class="search-form d-none d-lg-inline-block">

              </div>

              <div class="navbar-right ">
                <ul class="nav navbar-nav">
                  <li class="dropdown notifications-menu">
                    <button class="dropdown-toggle" data-toggle="dropdown">
                      <i class="mdi mdi-bell-outline"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li class="dropdown-header">You have 5 notifications</li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-account-plus"></i> New user registered
                          <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 10 AM</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-account-remove"></i> User deleted
                          <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 07 AM</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-chart-areaspline"></i> Sales report is ready
                          <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 12 PM</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-account-supervisor"></i> New client
                          <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 10 AM</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-server-network-off"></i> Server overloaded
                          <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 05 AM</span>
                        </a>
                      </li>
                      <li class="dropdown-footer">
                        <a class="text-center" href="#"> View All </a>
                      </li>
                    </ul>
                  </li>
                  <li class="right-sidebar-in right-sidebar-2-menu">
                    <i class="mdi mdi-settings mdi-spin"></i>
                  </li>
                  <!-- User Account -->
                  <li class="dropdown user-menu">
                    <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                      <span class="d-none d-lg-inline-block"> BusinessUser1 </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <!-- User image -->
                      <li class="dropdown-header">
                        <div class="d-inline-block">
                            BusinessUser1<small class="pt-1">businessuser1@email.it</small>
                        </div>
                      </li>

                      <li>
                        <a href="user-profile.html">
                          <i class="mdi mdi-account"></i> My Profile
                        </a>
                      </li>
                      <li>
                      <li class="dropdown-footer">
                        <a href="/logout"> <i class="mdi mdi-logout"></i> Log Out </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>


          </header>


          <div class="content-wrapper">
            <div class="content">						 
                      <!-- Top Statistics -->
                      <div class="row">
                        <div class="col-xl-3 col-sm-6">
                          <div class="card card-mini mb-4">
                            <div class="card-body">
                              <h2 class="mb-1">71,503</h2>
                              <p>Online Signups</p>
                              <div class="chartjs-wrapper">
                                <canvas id="barChart"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                          <div class="card card-mini  mb-4">
                            <div class="card-body">
                              <h2 class="mb-1">9,503</h2>
                              <p>New customers</p>
                              <div class="chartjs-wrapper">
                                <canvas id="dual-line"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                          <div class="card card-mini mb-4">
                            <div class="card-body">
                              <h2 class="mb-1">71,503</h2>
                              <p>Monthly Total Order</p>
                              <div class="chartjs-wrapper">
                                <canvas id="area-chart"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                          <div class="card card-mini mb-4">
                            <div class="card-body">
                              <h2 class="mb-1">9,503</h2>
                              <p>Total Revenue This Year</p>
                              <div class="chartjs-wrapper">
                                <canvas id="line"></canvas>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
    
    
                            <div class="row">
                                <div class="col-xl-8 col-md-12">
                          <!-- Sales Graph -->
                          <div class="card card-default" data-scroll-height="675">
                            <div class="card-header">
                              <h2>Sales Of The Year</h2>
                            </div>
                            <div class="card-body">
                              <canvas id="linechart" class="chartjs"></canvas>
                            </div>
                            <div class="card-footer d-flex flex-wrap bg-white p-0">
                              <div class="col-6 px-0">
                                <div class="text-center p-4">
                                  <h4>$6,308</h4>
                                  <p class="mt-2">Total orders of this year</p>
                                </div>
                              </div>
                              <div class="col-6 px-0">
                                <div class="text-center p-4 border-left">
                                  <h4>$70,506</h4>
                                  <p class="mt-2">Total revenue of this year</p>
                                </div>
                              </div>
                            </div>
                          </div>
    </div>
                                <div class="col-xl-4 col-md-12">
                      <!-- Doughnut Chart -->
                      <div class="card card-default" data-scroll-height="675">
                        <div class="card-header justify-content-center">
                          <h2>Orders Overview</h2>
                        </div>
                        <div class="card-body" >
                          <canvas id="doChart" ></canvas>
                        </div>
                        <a href="#" class="pb-5 d-block text-center text-muted"><i class="mdi mdi-download mr-2"></i> Download overall report</a>
                        <div class="card-footer d-flex flex-wrap bg-white p-0">
                          <div class="col-6">
                            <div class="py-4 px-4">
                              <ul class="d-flex flex-column justify-content-between">
                                <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2" style="color: #4c84ff"></i>Order Completed</li>
                                <li><i class="mdi mdi-checkbox-blank-circle-outline mr-2" style="color: #80e1c1 "></i>Order Unpaid</li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-6 border-left">
                            <div class="py-4 px-4 ">
                              <ul class="d-flex flex-column justify-content-between">
                                <li class="mb-2"><i class="mdi mdi-checkbox-blank-circle-outline mr-2" style="color: #8061ef"></i>Order Pending</li>
                                <li><i class="mdi mdi-checkbox-blank-circle-outline mr-2" style="color: #ffa128"></i>Order Canceled</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
    </div>
                            </div>
    
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-12">
                                    
                      <!-- Polar and Radar Chart -->
                      <div class="card card-default">
                        <div class="card-header justify-content-center">
                          <h2>Sales Overview</h2>
                        </div>
                        <div class="card-body pt-0">
                          <ul class="nav nav-pills mb-5 mt-5 nav-style-fill nav-justified" id="pills-tab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Sales Status</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Monthly Sales</a>
                            </li>
                          </ul>
                          <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                              <canvas id="polar"></canvas>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                              <canvas id="radar"></canvas>
                            </div>
                          </div>
                        </div>
                      </div>
    
                                </div>
                                <div class="col-xl-4 col-lg-6 col-12"> 
                      <!-- Top Sell Table -->
                      <div class="card card-table-border-none" data-scroll-height="550">
                        <div class="card-header justify-content-between">
                          <h2>Sold by Units</h2>
                          <div>
                              <button class="text-black-50 mr-2 font-size-20"><i class="mdi mdi-cached"></i></button>
                              <div class="dropdown show d-inline-block widget-dropdown">
                                  <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdown-units" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-units">
                                    <li class="dropdown-item"><a  href="#">Action</a></li>
                                    <li class="dropdown-item"><a  href="#">Another action</a></li>
                                    <li class="dropdown-item"><a  href="#">Something else here</a></li>
                                  </ul>
                                </div>
                          </div>
                        </div>
                        <div class="card-body slim-scroll py-0">
                          <table class="table ">
                            <tbody>
                              <tr>
                                <td class="text-dark">Coca Cola Zero 33cl</td>
                                <td class="text-center">9</td>
                                <td class="text-right">33% <i class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i> </td>
                              </tr>
                              <tr>
                                <td class="text-dark">Mountain Dew 33cl</td>
                                <td class="text-center">6</td>
                                <td class="text-right">150% <i class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i> </td>
                              </tr>
                              <tr>
                                <td class="text-dark">Lay's chips classic</td>
                                <td class="text-center">3</td>
                                <td class="text-right">50% <i class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i> </td>
                              </tr>
                              <tr>
                                <td class="text-dark">Oreo original</td>
                                <td class="text-center">7</td>
                                <td class="text-right">150% <i class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i> </td>
                              </tr>
                              <tr>
                                <td class="text-dark">Evian spring water 50cl</td>
                                <td class="text-center">10</td>
                                <td class="text-right">300% <i class="mdi mdi-arrow-down-bold text-danger pl-1 font-size-12"></i> </td>
                              </tr>
                              <tr>
                                <td class="text-dark">Tesco chicken sandwich</td>
                                <td class="text-center">5</td>
                                <td class="text-right">100% <i class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i> </td>
                              </tr>
                              <tr>
                                <td class="text-dark">Sprite 33cl</td>
                                <td class="text-center">6</td>
                                <td class="text-right">150% <i class="mdi mdi-arrow-up-bold text-success pl-1 font-size-12"></i> </td>
                              </tr>
                            </tbody>
                          </table>
    
                        </div>
                        <div class="card-footer bg-white py-4">
                          <a href="#" class="btn-link py-3 text-uppercase">View Report</a>
                        </div>
                      </div>
    </div>
                                <div class="col-xl-4 col-12">
                            <!-- Notification Table -->
                            <div class="card card-default" data-scroll-height="550">
                              <div class="card-header justify-content-between ">
                                <h2>Latest Notifications</h2>
                                <div>
                                    <button class="text-black-50 mr-2 font-size-20"><i class="mdi mdi-cached"></i></button>
                                    <div class="dropdown show d-inline-block widget-dropdown">
                                        <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdown-notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-notification">
                                          <li class="dropdown-item"><a  href="#">Action</a></li>
                                          <li class="dropdown-item"><a  href="#">Another action</a></li>
                                          <li class="dropdown-item"><a  href="#">Something else here</a></li>
                                        </ul>
                                      </div>
                                </div>
    
                              </div>
                              <div class="card-body slim-scroll">
                                <div class="media pb-3 align-items-center justify-content-between">
                                  <div class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-primary text-white">
                                    <i class="mdi mdi-cart-outline font-size-20"></i>
                                  </div>
                                  <div class="media-body pr-3 ">
                                    <a class="mt-0 mb-1 font-size-15 text-dark" href="#">New Order</a>
                                    <p >Userbusiness3 has placed order #432</p>
                                  </div>
                                  <span class=" font-size-12 d-inline-block"><i class="mdi mdi-clock-outline"></i> 10:21</span>
                                </div>
    
                                <div class="media py-3 align-items-center justify-content-between">
                                  <div class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-success text-white">
                                    <i class="mdi mdi-stack-exchange font-size-20"></i>
                                  </div>
                                  <div class="media-body pr-3">
                                    <a class="mt-0 mb-1 font-size-15 text-dark" href="#">Support Ticket</a>
                                    <p >UserICT2 has completed ticket #324</p>
                                  </div>
                                  <span class=" font-size-12 d-inline-block"><i class="mdi mdi-clock-outline"></i> 9:42</span>
                                </div>
    
    
                                <div class="media py-3 align-items-center justify-content-between">
                                  <div class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-warning text-white">
                                    <i class="mdi mdi-stack-exchange font-size-20"></i>
                                  </div>
                                  <div class="media-body pr-3">
                                    <a class="mt-0 mb-1 font-size-15 text-dark" href="#">Support Ticket</a>
                                    <p >UserBusiness4 has created ticket #323</p>
                                  </div>
                                  <span class=" font-size-12 d-inline-block"><i class="mdi mdi-clock-outline"></i> 9:24</span>
                                </div>
                                        <div class="media pb-3 align-items-center justify-content-between">
                                      <div class="d-flex rounded-circle align-items-center justify-content-center mr-3 media-icon iconbox-45 bg-primary text-white">
                                        <i class="mdi mdi-cart-outline font-size-20"></i>
                                      </div>
                                      <div class="media-body pr-3 ">
                                        <a class="mt-0 mb-1 font-size-15 text-dark" href="#">New Order</a>
                                        <p >Userbusiness has placed order #432</p>
                                      </div>
                                      <span class=" font-size-12 d-inline-block"><i class="mdi mdi-clock-outline"></i> 9:02</span>
                                    </div>
    


                              </div>
                              <div class="mt-3"></div>
                            </div>
    </div>
                            </div>
    
                            <div class="row">
                                <div class="col-12"> 
                      <!-- Recent Order Table -->
                      <div class="card card-table-border-none" id="recent-orders">
                        <div class="card-header justify-content-between">
                          <h2>Recent Orders</h2>
                          <div class="date-range-report ">
                            <span></span>
                          </div>
                        </div>
                        <div class="card-body pt-0 pb-5">
                          <table class="table card-table table-responsive table-responsive-large" style="width:100%">
                            <thead>
                              <tr>
                                <th>Order ID</th>
                                <th>Product Name</th>
                                <th class="d-none d-lg-table-cell">Units</th>
                                <th class="d-none d-lg-table-cell">Order Date</th>
                                <th class="d-none d-lg-table-cell">Order Cost</th>
                                <th>Status</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td >24541</td>
                                <td >
                                  <a class="text-dark" href=""> Coca Cola Zero 33cl</a>
                                </td>
                                <td class="d-none d-lg-table-cell">200 Units</td>
                                <td class="d-none d-lg-table-cell">Jul 26, 2021</td>
                                <td class="d-none d-lg-table-cell">$100</td>
                                <td >
                                  <span class="badge badge-success">Completed</span>
                                </td>
                                <td class="text-right">
                                  <div class="dropdown show d-inline-block widget-dropdown">
                                    <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                                      <li class="dropdown-item">
                                        <a href="#">View</a>
                                      </li>
                                      <li class="dropdown-item">
                                        <a href="#">Remove</a>
                                      </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td >24541</td>
                                <td >
                                  <a class="text-dark" href=""> Lay's chips classic</a>
                                </td>
                                <td class="d-none d-lg-table-cell">100 Units</td>
                                <td class="d-none d-lg-table-cell">Jul 25, 2021</td>
                                <td class="d-none d-lg-table-cell">$60</td>
                                <td >
                                  <span class="badge badge-warning">Delayed</span>
                                </td>
                                <td class="text-right">
                                  <div class="dropdown show d-inline-block widget-dropdown">
                                    <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdown-recent-order2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order2">
                                      <li class="dropdown-item">
                                        <a href="#">View</a>
                                      </li>
                                      <li class="dropdown-item">
                                        <a href="#">Remove</a>
                                      </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td >24541</td>
                                <td >
                                  <a class="text-dark" href=""> Fanta orange soda 33cl</a>
                                </td>
                                <td class="d-none d-lg-table-cell">50 Units</td>
                                <td class="d-none d-lg-table-cell">Jun 23, 2021</td>
                                <td class="d-none d-lg-table-cell">$25</td>
                                <td >
                                  <span class="badge badge-warning">On Hold</span>
                                </td>
                                <td class="text-right">
                                  <div class="dropdown show d-inline-block widget-dropdown">
                                    <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdown-recent-order3" data-toggle="dropdown" aria-haspopup="true"
                                      aria-expanded="false" data-display="static"></a>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order3">
                                      <li class="dropdown-item">
                                        <a href="#">View</a>
                                      </li>
                                      <li class="dropdown-item">
                                        <a href="#">Remove</a>
                                      </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td >24541</td>
                                <td >
                                  <a class="text-dark" href=""> Evian spring water 50cl</a>
                                </td>
                                <td class="d-none d-lg-table-cell">200 Units</td>
                                <td class="d-none d-lg-table-cell">Jun 21, 2021</td>
                                <td class="d-none d-lg-table-cell">$80</td>
                                <td >
                                  <span class="badge badge-success">Completed</span>
                                </td>
                                <td class="text-right">
                                  <div class="dropdown show d-inline-block widget-dropdown">
                                    <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdown-recent-order4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order4">
                                      <li class="dropdown-item">
                                        <a href="#">View</a>
                                      </li>
                                      <li class="dropdown-item">
                                        <a href="#">Remove</a>
                                      </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td >24541</td>
                                <td >
                                  <a class="text-dark" href=""> Oreo original</a>
                                </td>
                                <td class="d-none d-lg-table-cell">20 Units</td>
                                <td class="d-none d-lg-table-cell">Jun 21, 2021</td>
                                <td class="d-none d-lg-table-cell">$50</td>
                                <td >
                                  <span class="badge badge-danger">Cancelled</span>
                                </td>
                                <td class="text-right">
                                  <div class="dropdown show d-inline-block widget-dropdown">
                                    <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdown-recent-order5" data-toggle="dropdown" aria-haspopup="true"
                                      aria-expanded="false" data-display="static"></a>
                                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order5">
                                      <li class="dropdown-item">
                                        <a href="#">View</a>
                                      </li>
                                      <li class="dropdown-item">
                                        <a href="#">Remove</a>
                                      </li>
                                    </ul>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
    </div>
                            </div>
    
                            
                    <div class="col-12">
                      <!-- Top Products -->
                      <div class="card card-default" data-scroll-height="580">
                        <div class="card-header justify-content-between mb-4">
                          <h2>Top Products</h2>
                          <div>
                              <button class="text-black-50 mr-2 font-size-20"><i class="mdi mdi-cached"></i></button>
                              <div class="dropdown show d-inline-block widget-dropdown">
                                  <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdown-product" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                  </a>
                                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-product">
                                    <li class="dropdown-item"><a  href="#">Update Data</a></li>
                                    <li class="dropdown-item"><a  href="#">Detailed Log</a></li>
                                    <li class="dropdown-item"><a  href="#">Statistics</a></li>
                                    <li class="dropdown-item"><a  href="#">Clear Data</a></li>
                                  </ul>
                                </div>
                          </div>
    
                        </div>
                        <div class="card-body py-0">
                          <div class="media d-flex mb-5">
                            <div class="media-image align-self-center mr-3 rounded">
                              <a href="#"><img src="assets/img/products/p1.png" alt="customer image"></a>
                            </div>
                            <div class="media-body align-self-center">
                              <a href="#"><h6 class="mb-3 text-dark font-weight-medium"> Coca Cola Zero 33cl</h6></a>
                              <p class="float-md-right"><span class="text-dark mr-2">20</span>Sales</p>
                              <p class="d-none d-md-block">Test text, test text, test text.</p>
                              <p class="mb-0">
                                <span class="text-dark ml-3">$1</span>
                              </p>
                            </div>
                          </div>
    
                          <div class="media d-flex mb-5">
                            <div class="media-image align-self-center mr-3 rounded">
                              <a href="#"><img src="assets/img/products/p2.png" alt="customer image"></a>
                            </div>
                            <div class="media-body align-self-center">
                              <a href="#"><h6 class="mb-3 text-dark font-weight-medium"> Lay's classic</h6></a>
                              <p class="float-md-right"><span class="text-dark mr-2">20</span>Sales</p>
                              <p class="d-none d-md-block">Test text, test text, test text.</p>
                              <p class="mb-0">
                                <span class="text-dark ml-3">$1,50</span>
                              </p>
                            </div>
                          </div>
    
                          <div class="media d-flex mb-5">
                            <div class="media-image align-self-center mr-3 rounded">
                              <a href="#"><img src="assets/img/products/p3.png" alt="customer image"></a>
                            </div>
                            <div class="media-body align-self-center">
                              <a href="#"><h6 class="mb-3 text-dark font-weight-medium"> Tesco roast chicken sandwich</h6></a>
                              <p class="float-md-right"><span class="text-dark mr-2">10</span>Sales</p>
                              <p class="d-none d-md-block">Test text, test text, test text.</p>
                              <p class="mb-0">
                                <del>$3</del>
                                <span class="text-dark ml-3">$50</span>
                              </p>
                            </div>
                          </div>
                          </div>
                      </div>
    </div>
                            </div>
    </div>
    




        <div class="right-sidebar-2">
    <div class="right-sidebar-container-2">
      <div class="slim-scroll-right-sidebar-2">

      <div class="right-sidebar-2-header">
        <h2>Layout Settings</h2>
        <p>User Interface Settings</p>
        <div class="btn-close-right-sidebar-2">
          <i class="mdi mdi-window-close"></i>
        </div>
      </div>

      <div class="right-sidebar-2-body">
        <span class="right-sidebar-2-subtitle">Header Layout</span>
        <div class="no-col-space">
          <a href="javascript:void(0);" class="btn-right-sidebar-2 header-fixed-to btn-right-sidebar-2-active">Fixed</a>
          <a href="javascript:void(0);" class="btn-right-sidebar-2 header-static-to">Static</a>
        </div>

        <span class="right-sidebar-2-subtitle">Sidebar Layout</span>
        <div class="no-col-space">
          <select class="right-sidebar-2-select" id="sidebar-option-select">
            <option value="sidebar-fixed">Fixed Default</option>
            <option value="sidebar-fixed-minified">Fixed Minified</option>
            <option value="sidebar-fixed-offcanvas">Fixed Offcanvas</option>
            <option value="sidebar-static">Static Default</option>
            <option value="sidebar-static-minified">Static Minified</option>
            <option value="sidebar-static-offcanvas">Static Offcanvas</option>
          </select>
        </div>

        <span class="right-sidebar-2-subtitle">Header Background</span>
        <div class="no-col-space">
          <a href="javascript:void(0);" class="btn-right-sidebar-2 btn-right-sidebar-2-active header-light-to">Light</a>
          <a href="javascript:void(0);" class="btn-right-sidebar-2 header-dark-to">Dark</a>
        </div>

        <span class="right-sidebar-2-subtitle">Navigation Background</span>
        <div class="no-col-space">
          <a href="javascript:void(0);" class="btn-right-sidebar-2 btn-right-sidebar-2-active sidebar-dark-to">Dark</a>
          <a href="javascript:void(0);" class="btn-right-sidebar-2 sidebar-light-to">Light</a>
        </div>

        <span class="right-sidebar-2-subtitle">Direction</span>
        <div class="no-col-space">
          <a href="javascript:void(0);" class="btn-right-sidebar-2 btn-right-sidebar-2-active ltr-to">LTR</a>
          <a href="javascript:void(0);" class="btn-right-sidebar-2 rtl-to">RTL</a>
        </div>

        <div class="d-flex justify-content-center" style="padding-top: 30px">
          <div id="reset-options" style="width: auto; cursor: pointer" class="btn-right-sidebar-2 btn-reset">Reset
            Settings</div>
        </div>

      </div>

    </div>
  </div>

</div>

      </div>

                <footer class="footer mt-auto">
            <div class="copyright bg-white">
              <p>
                &copy; <span id="copy-year">2019</span> Copyright Sleek Dashboard Bootstrap Template by
                <a
                  class="text-primary"
                  href="http://www.iamabdus.com/"
                  target="_blank"
                  >Abdus</a
                >.
              </p>
            </div>
            <script>
                var d = new Date();
                var year = d.getFullYear();
                document.getElementById("copy-year").innerHTML = year;
            </script>
          </footer>

    </div>
  </div>

  <script src="assets/plugins/jquery/jquery.min.js"></script>
<script src="assets/plugins/slimscrollbar/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/jekyll-search.min.js"></script>



<script src="assets/plugins/charts/Chart.min.js"></script>



<script src="assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
<script src="assets/plugins/jvectormap/jquery-jvectormap-world-mill.js"></script>



<script src="assets/plugins/daterangepicker/moment.min.js"></script>
<script src="assets/plugins/daterangepicker/daterangepicker.js"></script>
<script>
  jQuery(document).ready(function() {
    jQuery('input[name="dateRange"]').daterangepicker({
    autoUpdateInput: false,
    singleDatePicker: true,
    locale: {
      cancelLabel: 'Clear'
    }
  });
    jQuery('input[name="dateRange"]').on('apply.daterangepicker', function (ev, picker) {
      jQuery(this).val(picker.startDate.format('MM/DD/YYYY'));
    });
    jQuery('input[name="dateRange"]').on('cancel.daterangepicker', function (ev, picker) {
      jQuery(this).val('');
    });
  });
</script>



<script src="assets/plugins/toastr/toastr.min.js"></script>
<script src="assets/js/supportfunctions.js"></script>
<script src="assets/js/sleek.bundle.js"></script>
</body>

</html>