<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Sleek Dashboard - Free Bootstrap 4 Admin Dashboard Template and UI Kit. It is very powerful bootstrap admin dashboard, which allows you to build products like admin panels, content management systems and CRMs etc.">


  <title>Tag&Go - Administrator dashboard</title>

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500" rel="stylesheet" />
  <link href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />


  <!-- PLUGINS CSS STYLE -->
  <link href="assets/plugins/nprogress/nprogress.css" rel="stylesheet" />



  <!-- No Extra plugin used -->



  <link href="assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />



  <link href="assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />



  <link href="assets/plugins/toastr/toastr.min.css" rel="stylesheet" />


  <!-- SLEEK CSS -->
  <link id="sleek-css" rel="stylesheet" href="assets/css/sleek.css" />

  <!-- FAVICON -->
  <link href="assets/img/Logo.png" rel="shortcut icon" />



  <!--
    HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="assets/plugins/nprogress/nprogress.js"></script>
</head>


<body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">

  <script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
  </script>


  <div id="toaster"></div>

        <!--
          ====================================
          ——— LEFT SIDEBAR WITH FOOTER
          =====================================
        -->
        <aside class="left-sidebar bg-sidebar">
          <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            <div class="app-brand">
              <a href="/" title="Sleek Dashboard">
                 <img src="/assets/img/Logo.png" width=30 height=33>
                 <span class="brand-name text-truncate">Tag&Go</span>
              </a>
            </div>
            <!-- begin sidebar scrollbar -->
            <div class="sidebar-scrollbar">

              <!-- sidebar menu -->
              <ul class="nav sidebar-inner" id="sidebar-menu">




                  <li class="active">
                    <a class="sidenav-item-link" href="/">
                      <i class="mdi mdi-fridge"></i>
                      <span class="nav-text">Fridges</span></b>
                    </a>
                  </li>


                  <li>
                    <a class="sidenav-item-link" href="/users?username=<%= name %>&email=<%= email %>">
                      <i class="mdi mdi-account"></i>
                      <span class="nav-text">Users</span></b>
                    </a>
                  </li>

                  <li>
                    <a class="sidenav-item-link" href="/security?username=<%= name %>&email=<%= email %>">
                      <i class="mdi mdi-security"></i>
                      <span class="nav-text">Security Logs</span></b>
                    </a>
                  </li>

                  <li>
                    <a class="sidenav-item-link" href="/tickets?username=<%= name %>&email=<%= email %>">
                      <i class="mdi mdi-clipboard-text"></i>
                      <span class="nav-text">Tickets</span></b>
                    </a>
                  </li>

              </ul>

            </div>
          </div>
        </aside>


    <div class="page-wrapper">
                <!-- Header -->
          <header class="main-header " id="header">
            <nav class="navbar navbar-static-top navbar-expand-lg">
              <!-- Sidebar toggle button -->
              <button id="sidebar-toggler" class="sidebar-toggle">
                <span class="sr-only">Toggle navigation</span>
              </button>
              <!-- search form -->
              <div class="search-form d-none d-lg-inline-block">

              </div>

              <div class="navbar-right ">
                <ul class="nav navbar-nav">
                  <li class="dropdown notifications-menu">
                    <button class="dropdown-toggle" data-toggle="dropdown">
                      <i class="mdi mdi-bell-outline"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li class="dropdown-header">You have 5 notifications</li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-account-plus"></i> New user registered
                          <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 10 AM</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-account-remove"></i> User deleted
                          <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 07 AM</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-chart-areaspline"></i> Sales report is ready
                          <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 12 PM</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-account-supervisor"></i> New client
                          <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 10 AM</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-server-network-off"></i> Server overloaded
                          <span class=" font-size-12 d-inline-block float-right"><i class="mdi mdi-clock-outline"></i> 05 AM</span>
                        </a>
                      </li>
                      <li class="dropdown-footer">
                        <a class="text-center" href="#"> View All </a>
                      </li>
                    </ul>
                  </li>
                  <li class="right-sidebar-in right-sidebar-2-menu">
                    <i class="mdi mdi-settings mdi-spin"></i>
                  </li>
                  <!-- User Account -->
                  <li class="dropdown user-menu">
                    <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                      <span class="d-none d-lg-inline-block"> <%= name %> </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <!-- User image -->
                      <li class="dropdown-header">
                        <div class="d-inline-block">
                           <%= name %> <small class="pt-1"> <%= email %></small>
                        </div>
                      </li>

                      <li>
                        <a href="user-profile.html">
                          <i class="mdi mdi-account"></i> My Profile
                        </a>
                      </li>
                      <li>
                      <li class="dropdown-footer">
                        <a href="/logout"> <i class="mdi mdi-logout"></i> Log Out </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>


          </header>


                                                <!-- Form Modal -->
                                                <div class="modal fade" id="exampleModalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalFormTitle" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                        <div class="modal-header">
                                                                                <h5 class="modal-title" id="exampleModalFormTitle">Add new fridge to the system</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                        <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                                <form action="/addfridge" method="POST">
                                                                                        <div class="form-group">
                                                                                                <label for="exampleInputEmail1">Name of the fridge:</label>
                                                                                                <input type="text" class="form-control" placeholder="Enter name" name="name" required>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                                <label for="exampleInputPassword1">Ip address of the fridge:</label>
                                                                                                <input type="text" class="form-control" placeholder="127.0.0.1" name="ip_address" required>
                                                                                        </div>
                                                                                        <button type="submit" class="btn btn-primary">Add fridge</button>
                                                                                </form>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>


      <div class="content-wrapper">
        <style>
          #wrap { width: 800px; height: 90px; overflow: hidden; margin: 0px auto; max-width:800px; }
          #cpuframe { width: 800px; height: 1000px; border: 0px solid black; margin-left: -535px; margin-top: -400px;}
          #cpuframe { -ms-zoom: 1; -moz-transform: scale(1); -moz-transform-origin: 0 0; -o-transform: scale(1); -o-transform-origin: 0 0; -webkit-transform: scale(1); -webkit-transform-origin: 0 0; }
          #memframe { -ms-zoom: 0.68; -moz-transform: scale(0.68); -moz-transform-origin: 0 0; -o-transform: scale(0.68); -o-transform-origin: 0 0; -webkit-transform: scale(0.68); -webkit-transform-origin: 0 0; }
          #memframe { width: 800px; height: 1000px; border: 0px solid black; margin-left: -355px; margin-top: -505px;}
          </style>
        <div class="content">
          <div class="col-lg-13">
          <div class="card-header card-header-border-bottom">
          <h2> Fridges status </h2>
          </div>
        </div>
          <br>
          <div class="row">
                  <% for(var i=0; i<fridges.length; i++) { %>
          <div class="col-lg-6 col-sm-12 col-xl-4">
                  <div class="card card-auto" data-scroll-height="575">
                    <div class="card-body text-center">
                      <img class="rounded-circle d-flex mx-auto" src="assets/img/shop/fridge_small.png" alt="user image">
                      <h4 class="py-2 text-dark"><%= fridges[i].name %></h4>
                      <p><%= fridges[i].ip_address %></p>
                      <a class="btn btn-primary btn-pill btn-lg my-4" href="/ssh?ip=<%= fridges[i].ip_address %>&username=<%= name %>&email=<%= email %>" target="connection"><i class="mdi mdi-lan-connect"></i> Connect</a>
                      <a class="btn btn-warning btn-pill btn-lg my-4" href="/info?ip=<%= fridges[i].ip_address %>&username=<%= name %>&email=<%= email %>" target="connection"><i class="mdi mdi-information-outline"></i> Info</a>
                      <p id="<%= fridges[i].id %>"><img src=assets/img/offline.png width="25" height="30"> Offline</p>
                      <br>
                      <p class="pb-3">CPU Load:</p>
                      <div id="wrap">
                        <iframe id="cpuframe" src="http://<%= fridges[i].ip_address %>:8888"></iframe>
                      </div>
                      <br>
                      <p class="pb-3">RAM usage:</p>
                       <div id="wrap">
                        <iframe id="memframe" src="http://<%= fridges[i].ip_address %>:8888"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
             <div class="col-lg-6 col-sm-12 col-xl-4">
                  <div class="card card-default" data-scroll-height="575">
                    <div class="card-body text-center">
                      <img class="rounded-circle d-flex mx-auto" src="assets/img/add.png" alt="user image" width="100" height="100">
                      <h4 class="py-2 text-dark">Add and configure a new fridge</h4>
                      <button class="btn btn-success btn-pill btn-lg my-4 shown-btn" data-toggle="modal" data-target="#exampleModalForm">Add fridge</button>
                  </div>
                </div>
          </div>
          </div>
        </div>





        <div class="right-sidebar-2">
    <div class="right-sidebar-container-2">
      <div class="slim-scroll-right-sidebar-2">

      <div class="right-sidebar-2-header">
        <h2>Layout Settings</h2>
        <p>User Interface Settings</p>
        <div class="btn-close-right-sidebar-2">
          <i class="mdi mdi-window-close"></i>
        </div>
      </div>

      <div class="right-sidebar-2-body">
        <span class="right-sidebar-2-subtitle">Header Layout</span>
        <div class="no-col-space">
          <a href="javascript:void(0);" class="btn-right-sidebar-2 header-fixed-to btn-right-sidebar-2-active">Fixed</a>
          <a href="javascript:void(0);" class="btn-right-sidebar-2 header-static-to">Static</a>
        </div>

        <span class="right-sidebar-2-subtitle">Sidebar Layout</span>
        <div class="no-col-space">
          <select class="right-sidebar-2-select" id="sidebar-option-select">
            <option value="sidebar-fixed">Fixed Default</option>
            <option value="sidebar-fixed-minified">Fixed Minified</option>
            <option value="sidebar-fixed-offcanvas">Fixed Offcanvas</option>
            <option value="sidebar-static">Static Default</option>
            <option value="sidebar-static-minified">Static Minified</option>
            <option value="sidebar-static-offcanvas">Static Offcanvas</option>
          </select>
        </div>

        <span class="right-sidebar-2-subtitle">Header Background</span>
        <div class="no-col-space">
          <a href="javascript:void(0);" class="btn-right-sidebar-2 btn-right-sidebar-2-active header-light-to">Light</a>
          <a href="javascript:void(0);" class="btn-right-sidebar-2 header-dark-to">Dark</a>
        </div>

        <span class="right-sidebar-2-subtitle">Navigation Background</span>
        <div class="no-col-space">
          <a href="javascript:void(0);" class="btn-right-sidebar-2 btn-right-sidebar-2-active sidebar-dark-to">Dark</a>
          <a href="javascript:void(0);" class="btn-right-sidebar-2 sidebar-light-to">Light</a>
        </div>

        <span class="right-sidebar-2-subtitle">Direction</span>
        <div class="no-col-space">
          <a href="javascript:void(0);" class="btn-right-sidebar-2 btn-right-sidebar-2-active ltr-to">LTR</a>
          <a href="javascript:void(0);" class="btn-right-sidebar-2 rtl-to">RTL</a>
        </div>

        <div class="d-flex justify-content-center" style="padding-top: 30px">
          <div id="reset-options" style="width: auto; cursor: pointer" class="btn-right-sidebar-2 btn-reset">Reset
            Settings</div>
        </div>

      </div>

    </div>
  </div>

</div>

      </div>

                <footer class="footer mt-auto">
            <div class="copyright bg-white">
              <p>
                &copy; <span id="copy-year">2019</span> Copyright Sleek Dashboard Bootstrap Template by
                <a
                  class="text-primary"
                  href="http://www.iamabdus.com/"
                  target="_blank"
                  >Abdus</a
                >.
              </p>
            </div>
            <script>
                var d = new Date();
                var year = d.getFullYear();
                document.getElementById("copy-year").innerHTML = year;
            </script>
          </footer>

    </div>
  </div>

  <script src="assets/plugins/jquery/jquery.min.js"></script>
<script src="assets/plugins/slimscrollbar/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/jekyll-search.min.js"></script>



<script src="assets/plugins/charts/Chart.min.js"></script>



<script src="assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
<script src="assets/plugins/jvectormap/jquery-jvectormap-world-mill.js"></script>



<script src="assets/plugins/daterangepicker/moment.min.js"></script>
<script src="assets/plugins/daterangepicker/daterangepicker.js"></script>
<script>
  jQuery(document).ready(function() {
    jQuery('input[name="dateRange"]').daterangepicker({
    autoUpdateInput: false,
    singleDatePicker: true,
    locale: {
      cancelLabel: 'Clear'
    }
  });
    jQuery('input[name="dateRange"]').on('apply.daterangepicker', function (ev, picker) {
      jQuery(this).val(picker.startDate.format('MM/DD/YYYY'));
    });
    jQuery('input[name="dateRange"]').on('cancel.daterangepicker', function (ev, picker) {
      jQuery(this).val('');
    });
  });
</script>



<script src="assets/plugins/toastr/toastr.min.js"></script>
<script src="assets/js/supportfunctions.js"></script>
<% for(var i=0; i<fridges.length; i++) { %>
<script type="text/javascript">
  SUPPORTLIBRARY.checkServerStatus('http://<%= fridges[i].ip_address %>:8080/', <%= fridges[i].id %>);
</script>
 <% } %>
<script src="assets/js/sleek.bundle.js"></script>
</body>

</html>