/* The device with borders */
.touchscreen {
  position: relative;
  width: 550px;
  height: 695px;
  margin: auto;
  border: 25px black solid;
  border-top-width: 80px;
  border-bottom-width: 155px;
  border-radius: 35px;
}

/* The logo on the top of the device */
.touchscreen:before {
  content: "Tag&Go";
  font-family: "Segoe UI";
  text-align: center;
  color: orange;
  display: block;
  width: 100px;
  height: 15px;
  position: absolute;
  top: -45px;
  left: 225px;
}

/* The screen of the device aka video inside */
.touchscreen .content {
  height: 695px;
  background: white;
  margin: auto;
  border-radius: 5px;
}

/*The bottom button container*/
.buttoncontainer {
  margin-top: 25px; 
  height: 150px;
}

/*Common button characteristics //just to test
#button {
  border-color: white;
  border-style: solid;
}*/

.button1 {
  position: absolute;
  left: 25px;
  width: 150px;
  height: 100px;
}
.button2 {
  position: absolute;
  left: 200px;
  width: 150px;
  height: 100px;
}
.button3 {
  position: relative;
  left: 375px;
  width: 150px;
  height: 100px;
}

/*Images inside buttons*/
.img {
  max-width: 100%; 
  max-height: 100%; 
  display: block;
  margin: auto;
}
